body,a{
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
.tbservice{
	width: 190px;
	box-shadow: 2px 2px 0 #eeeef0;
	background-color: #fff;
	position: relative;
	float: left;
	border-style: solid;
	border-color: #f40;
}
.tbservice h2{
	margin: 0;
	padding: 0;
	background: #f40;
	height: 35px;
	display: block;
	font-weight: bold;
}
.service-head{
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	background-position: 0 -125px;
	color:  #fff;
	font-weight: bold;
}
.gif-hot,.gif-new{
	right: auto;
	top: auto;
	position: absolute;
	margin-top: 0;
	margin-left: -1px;
	width: 9px;
	height: 14px;
}
.gif-hot{
	background: url(hot.gif) 0 0 no-repeat;
}
.gif-new{
	background: url(new.gif) 0 0 no-repeat;
}
.service-theme{
	font-size: 14px;
	font-weight: 700;
	line-height: 19px;
	font-weight: bold;
}
.service-bd dd{
	border-bottom: 1px solid #e6e7eb;
	padding-bottom: 10px;
	padding-left: 5px;
	line-height: 22px;
}
